<%= link_to user_path(user) do %>
  <div class="flex flex-col items-center py-5 px-2">
    <% if user.avatar %>
      <%= image_tag "#{user.avatar}", class: "object-cover w-15 h-15 rounded-full bg-white md:w-40 md:h-40 md:rounded-full" %>
    <% end %>
    <h5 class="mb-1 text-base md:text-lg font-medium truncate text-blue-700"><%= truncate(user.name, length: 8) %></h5>
  </div>
<% end %>