<% content_for :title, t('.title') %>
<div class="bg-orange-100 min-h-screen">
  <div class="w-full text-center">
    <div class="py-12 mb-4 text-center text-gray-600 text-2xl md:text-3xl lg:text-3xl xl:text-3xl font-bold">ユーザー一覧</div>
    <% if @users.present? %>
      <div class="flex w-full justify-center">
        <div class="flex flex-wrap items-center justify-center w-full px-4"> 
          <div class="grid grid-cols-3 gap-3 md:grid-cols-4">
          <%= render @users %>
          </div>
        </div>
      </div>
    <% else %>
      <p class="text-center text-lg text-gray-700 bg-cyan-400"><%= t('.no_reslt') %></p> 
    <% end %>
    <div class="py-10">
      <%= paginate @users, window:2 %>
    </div>
  </div>
</div>
