<footer class=" bg-gray-400 bg-cover">
      <div class="text-center text-xs sm:text-xs md:text-sm lg:text-base xl:text-base text-gray-600 flex justify-center">
          <div class="text-center py-1 px-10">
            <%= link_to "利用規約", "#" %>
          </div>
          <div class="text-center py-1 px-10">
            <%= link_to "プライバシーポリシー", "#" %>
          </div>
          <div class="text-center py-1 px-10">
            <%= link_to "お問い合わせ", "#" %>
          </div>
      </div>
</footer>