<footer class=" bg-gray-400 bg-cover">
  <div class="flex flex-col md:flex-row justify-center text-center text-xs sm:text-xs md:text-sm lg:text-base xl:text-base">
      <div class="text-center py-1 px-10">
        <%= link_to "利用規約", terms_of_service_path, class: "text-white" %>
      </div>
      <div class="text-center py-1 px-10">
        <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-white" %>
      </div>
      <div class="text-center py-1 px-10">
        <%= link_to "お問い合わせ", contacts_new_path, class: "text-white" %>
      </div>
      <div class="text-center py-1 px-10">
        <%= link_to "https://twitter.com/OsakeNoFurusato" do %>
          <i class="fa-brands fa-square-x-twitter fa-xl"></i>
        <% end %>
      </div>
  </div>
  <p class="text-center text-xs sm:text-xs md:text-sm lg:text-base xl:text-base text-gray-600">Copyright ©お酒のふるさと 2022.All rights reserved.</p>
</footer>