<footer class=" bg-gray-400 bg-cover">
  <div class="text-center text-xs sm:text-xs md:text-sm lg:text-base xl:text-base flex justify-center">
      <div class="text-center py-1 px-10">
        <%= link_to "利用規約", "#",class: "text-white" %>
      </div>
      <div class="text-center py-1 px-10">
        <%= link_to "プライバシーポリシー", "#",class: "text-white" %>
      </div>
      <div class="text-center py-1 px-10">
        <%= link_to "お問い合わせ", "#",class: "text-white" %>
      </div>
  </div>
  <p class="text-center text-xs sm:text-xs md:text-sm lg:text-base xl:text-base text-gray-600">Copyright ©お酒のふるさと 2022.All rights reserved.</p>
</footer>