<div class="h-screen w-screen relative bg-center bg-cover bg-top-image bg-no-repeat">
  <div class="absolute w-full">
    <p class="text-gray-700 text-base text-center px-6 bg-yellow-200 font-semibold leading-relaxed">※新型コロナウイルスの影響により工場見学を中止している醸造所がございます。</br>必ずホームページ等で最新の実施状況をご確認ください。</p> 
    <div class="text-3xl sm:text-4xl md:text-5xl  lg:text-5xl xl:text-5xl mt-8">
      <p class="text-orange-600 text-opacity-75 text-center py-3 px-6 font-semibold leading-relaxed">お酒が生まれる場所を訪ねよう！</p> 
      <p class="text-orange-600 text-opacity-75 text-center py-3 px-6 font-semibold leading-relaxed">お酒の工場見学検索アプリ</p> 
    </div>
    <div class="grid grid-cols-1 justify-items-center items-center gap-8 md:grid-cols-4 mt-48">
      <div class='search-liquor-button md:col-start-2 col-span-1'>  
        <button class=" bg-teal-500 hover:bg-teal-400 text-base sm:text-3x1 md:text-3xl lg:text-3xl xl:text-3xl text-white font-bold py-4 px-5 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
        <%= link_to "🍷 お酒から探す", search_from_liquor_type_path,class: "text-white" %>
        </button>
      </div>
      <div class='search-location-button md:col-start-3 col-span-1'>
        <button class="bg-red-500 hover:bg-red-400 text-base sm:text-3x1 md:text-3xl lg:text-3xl xl:text-3xl text-white font-bold py-4 px-5 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
        <%= link_to "🗾 場所から探す", search_from_japanmap_path,class: "text-white"  %>
        </button>
      </div> 
    </div>
  </div>
</div>

<div class="bg-gradient-to-r from-green-300 via-teal-500 to-blue-500 bg-cover">
  <div class="pt-10 pb-3 px-6 font-semibold leading-relaxed">
    <p class="text-base sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl text-gray-600">🍺What's "お酒のふるさと"？</p>
  </div>
  <div class="text-gray-600 py-2 px-12 text-base sm:text-lg md:text-3xl lg:text-3xl xl:text-3xl leading-relaxed">
    <p>「醸造所訪問を目的として旅行先を決める」がコンセプトのサービスです。</p>
    <p>工場見学ができるお酒の醸造所と近隣の宿泊施設が検索できます。</p>
  </div>
  <div class="pt-8 pb-3 px-6 font-semibold leading-relaxed">
    <p class="text-base sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl text-gray-600">🍺お酒のふるさとを最大限に活用するには？</p>
  </div>
  <div class="text-gray-600 py-2 px-20 text-base sm:text-lg md:text-3xl lg:text-3xl xl:text-3xl  leading-relaxed">
    <ul class="list-decimal">
      <li>日帰りで行けない地域の醸造所を探しましょう</li>
      <li>興味のあるお酒で絞って探しましょう</li>
      <li>行きたい場所が決まったら宿泊先を探す</li>
      <li>お酒のふるさとへLet's Go！</li>
    </ul>
  </div>
  <div class="pt-8 pb-3 px-6 font-semibold leading-relaxed">
    <p class="text-base sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl text-gray-600">🍺ユーザー登録がおすすめ</p>
  </div>
  <div class="text-gray-600 pt-2 pb-10 px-20 text-base sm:text-lg md:text-3xl lg:text-3xl xl:text-3xl  leading-relaxed">
    <ul class="list-disc">
      <li>行ってみたい醸造所を見つけたら「気になる！」に登録。</li>
      <p>あとで気になるリストから行き先を検討できます🧳</p>
      <li>気に入った醸造所は「お気に入り」に登録。</li>
      <p>自分が良かったと感じた醸造所を一覧で確認できます📝</p>
    </ul>
  </div>
</div>


