<div class='top-wrapper'>
  <div class='top-inner-text'>
    <p class="text-orange-400 text-opacity-75 text-5xl py-6 px-6 font-semibold leading-relaxed">日本中のお酒が生まれる場所に訪ねよう</p> 
    <p class="text-orange-500 text-opacity-75 text-5xl py-6 px-6 font-semibold leading-relaxed">お酒×工場見学検索アプリ</p> 
    <p >
  </div>

  <div class="h-screen w-screen flex justify-center items-center">
    <div class='search-liquor-button'>  
      <button class="bg-teal-500 hover:bg-teal-400 text-3xl text-white font-bold m-10 py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      お酒から探す
      </button>
    </div>
    <div class='search-location-button'>
      <button class="bg-red-500 hover:bg-red-400 text-3xl text-white font-bold py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      場所から探す
      </button>
    </div> 
  </div>
  
</div>