<% content_for :title, t('.title') %>
<div class="bg-orange-100 min-h-screen">
  <%= render 'shared/search_form', url: breweries_path %>
  <% if @breweries.present? %>
    <%= render @breweries %>
  <% else %>
    <p class="text-center text-lg text-gray-700 bg-cyan-400"><%= t('.no_result') %></p> 
  <% end %>
  <div class="pagination">
  <div class="pb-8">
    <%= paginate @breweries, window:2 %>
  </div>
  </div>
</div>
